# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/resume_radiance?retryWrites=true&w=majority

# Admin Panel Passcode
ADMIN_PASSWORD=123321

# Optional system-level NVIDIA NIM API Key
NVIDIA_API_KEY=
